{% extends "base.html" %}
{% block content %}


    <center>
        <h5> Hello, Learn|robotics is a webapp that makes it easy for you to learn the basics of moving a robotic arm,</h5>
        <h5> in order to do so, all you need to do is move it to specific points save the position and then run the programs. The arm will follow the path and actions</h5>
        <h5> you have programed in a loop, you can also save the program and run it later for your friends. </h5>
        <br>
        <a  class="anchor-buttons" href="/home"><h4>Home</h4></a>


 </center>

{% endblock %}
